
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001122;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  border-radius: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 5px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ffffff25;
}

.active {
  background: linear-gradient(90deg, #009473 0%, #005060 100%);
  box-shadow: inset 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
}
body{
    background-color: #001122;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
} h1 {
    margin-left: 5px;
} header {
    position: fixed;
    top: 0;
    background-color: #001122;
    width: 100%;
} .Header1home {
    font-size: 50px;
    margin-left: 5px;
    margin-right: 5px;
} .Text1home {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
} .Header2portfolio {
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
} .Text2portfolio {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
} .Link1portfolio {
    font-size: 15px;
    display: block;
  border-radius: 25px;
  color: white;
  background: linear-gradient(90deg, #009473 0%, #005060 100%);
  box-shadow: inset 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 14px 16px;
  margin: 5px;
  text-decoration: none;
  width: fit-content;
} .Link2portfolio {
    font-size: 15px;
    display: block;
  border-radius: 25px;
  color: #001122;
  background: linear-gradient(90deg, #ffffff 0%, #929292 100%);
  box-shadow: inset 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 14px 16px;
  margin: 5px;
  text-decoration: none;
  width: fit-content;
}